@page
@model IndexModel
@{
    ViewData["Title"] = "About us";
}

<div class="mb-0 index-jumbotron jumbotron jumbotron-fluid">
    <div class="container">

        <div class="index-jumbotron-div">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan est eu maximus volutpat. Suspendisse sit amet sodales nunc, sit amet semper leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras auctor nec sapien quis consequat. Vestibulum sollicitudin arcu neque, id convallis magna malesuada vel. Ut sed euismod ex. Praesent tristique sollicitudin mauris ut sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                Sed nec lacus pellentesque, semper ligula quis, auctor ipsum. Donec sollicitudin, risus non varius pellentesque, orci nisi suscipit sem, nec tempor massa lorem non urna. Aliquam erat volutpat. Sed sit amet venenatis velit, interdum mollis felis. Ut malesuada quam sed nulla tempus, vitae luctus ex cursus. Nam lacinia, dui vel interdum varius, dui turpis volutpat velit, in pharetra risus ipsum in ante. Praesent tellus ex, mollis quis velit suscipit, interdum eleifend lectus. Morbi nec ipsum egestas, sollicitudin lectus pharetra, ornare ipsum. Nam et dolor velit. Suspendisse convallis dictum enim a lacinia. Cras volutpat tincidunt faucibus. Donec varius enim a urna tristique suscipit. Integer hendrerit ultrices metus in dignissim. Aliquam ac sem non dui hendrerit porttitor non a lorem. Pellentesque sit amet felis urna. Suspendisse aliquet convallis mi.
            </p>
        </div>
    </div>
</div>


<div class="mb-0 our-staff jumbotron jumbotron-fluid">
    <div class="container">

        <div>
            <h2 class="display-4 mb-4">Our Staff</h2>

            <div class="staff-member mb-5">
                <img class="mb-3" src="https://via.placeholder.com/200x200">
                <p class="h3">John Doe</p>
                <i><p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p></i>
            </div>

            <div class="staff-member mb-5">
                <img class="mb-3" src="https://via.placeholder.com/200x200">
                <p class="h3">John Doe</p>
                <i><p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p></i>
            </div>

            <div class="staff-member">
                <img class="mb-3" src="https://via.placeholder.com/200x200">
                <p class="h3">John Doe</p>
                <i><p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p></i>
            </div>



        </div>
    </div>
</div>