html * {
    font-family: 'Roboto', sans-serif;
}

.copyright {
    font-size: 16px;
}

.text-breakpoint {
    display: inline-block;
}

footer img {
    height: 48px;
    margin-left: 20px;
    width: 48px;
}


footer {
    background-color: black;
}

    footer i {
        color: red;
        font-size: 48px;
        vertical-align: middle;
    }

    footer div {
        font-size: 24px;
        font-weight: 300;
        color: white;
    }

header {
    background-color: whitesmoke
}


.index-jumbotron {
    background: url("forest.jpg") no-repeat center center fixed;
    background-size: cover;
}

.jumbotron {
    text-align: center;
}

.index-jumbotron-div {
    color: white;
    text-shadow: 0.5px 0.5px black;
}


.our-staff {
    background-color: aquamarine;
}

footer a:hover {
    text-decoration: none;
}